.table-container {
  max-height: 70vh; /* Ajusta la altura máxima según tus necesidades */
  overflow-y: auto;
  position: relative;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  position: sticky;
  top: 0;
  background-color: #f1f1f1; /* Ajusta el color de fondo según tus necesidades */
  z-index: 1;
}

.table th, .table td {
  padding: 8px 12px;
  border: 1px solid #ddd;
}

.table th {
  background-color: #d5f8ff; /* Ajusta el color de fondo según tus necesidades */
}

.opciones-container{
  position: fixed;
}
