.table-container {
  max-height: 400px; /* Ajusta este valor según tus necesidades */
  overflow-y: auto; /* Habilita el scroll vertical */
  border: 1px solid #aeeeee; /* Borde celeste para el contenedor */
  border-radius: 5px; /* Bordes redondeados para un diseño más suave */
  margin-bottom: 1rem; /* Espacio debajo del contenedor */
}

table {
  width: 100%;
  border-collapse: collapse; /* Mejora la presentación de la tabla */
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #b0e0e6; /* Línea divisoria celeste entre las filas */
}

th {
  background-color: #e0ffff; /* Color de fondo celeste claro para los encabezados */
  color: #4682b4; /* Color del texto en los encabezados */
}

.table th {
  background-color: #d5f8ff; /* Ajusta el color de fondo según tus necesidades */
}

.opciones-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegúrate de que el modal esté por encima del contenido */
}

.modal-content {
  background: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 400px; /* Ancho fijo para el modal */
}

.modal-content h3 {
  margin-top: 0;
}

.modal-content div {
  margin-bottom: 1rem;
}

.modal-content label {
  display: block;
  margin-bottom: 0.5rem;
}

.modal-content input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.submit-button {
  background-color: #1e90ff; /* Color azul para el botón de guardar */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
}

.submit-button:hover {
  background-color: #1c86ee; /* Azul más oscuro al pasar el ratón */
}

.cancel-button {
  background-color: #f0f8ff; /* Color celeste claro para el botón de cancelar */
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #e0ffff; /* Celeste más claro al pasar el ratón */
}

.show-form-button {
  background-color: #1e90ff; /* Color azul para el botón de mostrar formulario */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.show-form-button:hover {
  background-color: #1c86ee; /* Azul más oscuro al pasar el ratón */
}
.actions-container{
  display: flex;
  flex-direction: row;
}
::-webkit-scrollbar{
  width: 20px;
}
::-webkit-scrollbar-track{
  background-color: #87CEEB;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb{
  background-color: white;
  border-radius: 20px;
}
/* ::-webkit-scrollbar-thumb:hover{
  background-color: rgb(214, 214, 214);;
} */