.table-container {
  padding: 0 80px 0 40px;
  width: 100%;
  margin-top: 20px;
}

.table {
  padding: 0 40px ;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #009efa;
  font-family: Arial, sans-serif;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #009efa;
}

.table th {
  background-color: #009efa;
}
button{
  margin-top: 20px;
  border:1px solid #009efa;
}
.table tr:nth-child(even) {
  background-color: #f2f2f2;
}
/* input{
    border-radius: 20px;
    border-color: #009efa;
    margin-bottom: 20px;
  } */
