.upload-page {
    text-align: center;
    margin: 20px auto;
    max-width: 90%;
  }
  
  .upload-actions {
    margin-bottom: 20px;
  }
  
  .upload-actions input[type="file"] {
    margin-bottom: 10px;
  }
  
  .search-input, .category-select {
    margin: 10px;
    padding: 8px;
    width: 80%;
    max-width: 400px;
    border: 1px solid #b0e0e6; /* Color de borde celeste claro */
    border-radius: 4px;
  }
  
  .file-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    background-color: #f0f8ff; /* Color de fondo celeste claro */
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #b0e0e6; /* Color de borde celeste claro */
    max-height: 500px; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto; /* Añade scroll vertical si es necesario */
    overflow-x: hidden;
    margin-bottom: 50px;
  }
  
  .file-item {
    border: 1px solid #b0e0e6; /* Color de borde celeste claro */
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    max-width: 150px;
    background: rgba(173, 216, 230, 0.5); /* Fondo translúcido celeste */
  }
  
  .file-item p {
    margin: 10px 0;
    color: #333; /* Color del texto */
  }
  
  .download-link {
    display: block;
    margin-top: 5px;
    color: #00bfff; /* Color de enlace celeste */
    text-decoration: none;
  }
  
  .download-link:hover {
    text-decoration: underline;
  }
  
  .file-item .fa-file {
    color: #00bfff; /* Color de los iconos celeste */
  }
  