@import url(../src/styles/card.css);
@import url(../src/styles/global.css);
@import url(../src/styles/Menu.css);
@import url(../src/styles/Tabla-socios.css);


/* Estilos para el contenedor principal */
.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}


/* Estilos para la sección de proyectos */




/* Estilos para el selector de filtro */
.filtro-section {
  margin-bottom: 40px;
}

/* Estilos para la barra de búsqueda */
.busqueda-section {
  margin-bottom: 40px;
}

.busqueda-section input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #3498DB;
  border-radius: 20px;
}

.busqueda-section input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
}



.background {
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
}
select {
  border-radius: 10px;
}

/* SociosPage.css */
